datasources: 
 datasources.yaml:
   apiVersion: 1
   datasources:
   - name: loki
     type: loki
     url: http://loki-gateway.infra.svc.cluster.local/

   - name: Prometheus
     type: prometheus
     access: proxy
     url: http://prometheus-kube-prometheus-prometheus.infra.svc.cluster.local:9090
     isDefault: true
     version: 1
     editable: true

persistence:
  enabled: true

nodeSelector:
  node-role: "infra"

tolerations:
- key: "node-role"
  operator: "Equal"
  value: "infra"
  effect: "NoSchedule"

grafana.ini:
  server:
    root_url: "http://158.160.173.116/grafana"
    serve_from_sub_path: true

service:
  enabled: true
  type: ClusterIP
  port: 80
  targetPort: 3000

